<p>empleados works!</p>

<h2 class="text-center text-xl font-bold mb-4">Registro de Empleados</h2>
    <div class="flex justify-start">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto p-4 bg-white border border-gray-300 rounded-lg">
            <div class="mb-5">
                <label for="matricula" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Matrícula:</label>
                <input id="matricula" formControlName="matricula" type="text" class="bg-gray-50 border  border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div class="mb-5">
                <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nombre:</label>
                <input id="nombre" formControlName="nombre" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div class="mb-5">
                <label for="correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Correo:</label>
                <input id="correo" formControlName="correo" type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div class="mb-5">
                <label for="edad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Edad:</label>
                <input id="edad" formControlName="edad" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div class="mb-5">
                <label for="horasTrabajadas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Horas Trabajadas:</label>
                <input id="horasT" formControlName="horasT" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div class="mt-4">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue800">Registrar</button>
                <button type="button" (click)="imprimir()" class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm wfull sm:w-auto px-5 py-2.5 text-center dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800 mt-2">Imprimir</button>
            </div>
        </form>

<div class="ml-8 w-2/3">
    <h3 *ngIf="mostrarT" class="text-lg font-bold mb-2">Empleados Registrados</h3>
<div class="relative overflow-x-auto">
    <table *ngIf="mostrarT" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Matrícula</th>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Correo</th>
                <th scope="col" class="px-6 py-3">Edad</th>
                <th scope="col" class="px-6 py-3">Horas Trabajadas</th>
                <th scope="col" class="px-6 py-3">Horas x Pagar</th>
                <th scope="col" class="px-6 py-3">Horas Extra</th>
                <th scope="col" class="px-6 py-3">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados" class="bg-white border-b dark:bg-gray-800
            dark:border-gray-700">
                <td class="px-6 py-4">{{ empleado.matricula }}</td>
                <td class="px-6 py-4">{{ empleado.nombre }}</td>
                <td class="px-6 py-4">{{ empleado.correo }}</td>
                <td class="px-6 py-4">{{ empleado.edad }}</td>
                <td class="px-6 py-4">{{ empleado.horasT }}</td>
                <td class="px-6 py-4">{{ calcularP(empleado).pagoH }}</td>
                <td class="px-6 py-4">{{ calcularP(empleado).pagoHE }}</td>
                <td class="px-6 py-4">{{ calcularP(empleado).subT }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="mostrarT" class="mt-4">
    <h3 class="text-lg font-bold">Total a pagar: {{ calcularT() }}</h3>
</div>
    <div class="mt-8">
        <h3 class="text-lg font-bold mb-2">Buscar por Matrícula</h3>
            <label for="matriculaA" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese Matrícula:</label>
            <input id="matriculaA" [(ngModel)]="matriculaA" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <div class="mt-4">
                <button (click)="modificar()" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded mr-4">Modificar</button>
                <button (click)="eliminar()" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Eliminar</button>
            </div>
        </div>

</div>
</div>